/* header*/

.menu {
    display: flex;  
    flex-direction: row; 
    justify-content: space-evenly;
}

.header-logo {
    display: flex; /* Включение Flexbox */
    flex-direction: row;/* Направление расположения блоков относительно Ox*/
    align-items: center;/* Направление расположения блоков относительно Oy по центру*/
    flex-grow: 1;/* размер блоу с лого и названия{его вес} относительно других элементов*/
}

.logo-img {
    margin-right: 40px;
}

.header-menu {
    flex-grow: 3;
}
.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* footer */
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-networks {
    display: flex;
    justify-content: flex-end;
}

.footer-logo {
    margin: 10 px;
    width: 50 px;
    height: 50 px;
}

.footer-search {
    display: flex;
    justify-content: space-between;
    margin-top: 30 px;
    align-items: center;
}

.footer-search-input {
    height: 40px;
    flex-grow: 3;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
}


.footer-search-button {
    height: 40px;
    flex-grow: 2;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

